<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Management</title>
    <script type="text/javascript" src="../Scripts/jquery-3.5.1.js"></script>
    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="../Content/dx.material.blue.dark.css">
    
    <!-- DevExtreme library -->
    <script type="text/javascript" src="../Scripts/dx.all.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body class="dx-viewport">
    <div class="demo-container">
        <div id="menu"></div>
        <div id="sidebar"></div>
        <!-- New Section for Saved Settings -->
        <div id="settings-section">
            <h5>Saved Settings</h5>
            <ul id="settings-list"></ul>
        </div>
        <div id="add-post-popup"></div>
        <div id="add-setting-popover"></div>
        <div id="load-panel" style="display: none;"></div>
    </div>
</body>

</html>